<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <title>Order de servicio</title>

    <style>
        .invoice-box {
            max-width: 800px;
            margin: auto;
            padding: 30px;
            border: 1px solid #eee;
            box-shadow: 0 0 10px rgba(0, 0, 0, .15);
            font-size: 16px;
            line-height: 24px;
            font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;
            color: #555;
        }

        .invoice-box table {
            width: 100%;
            line-height: inherit;
            text-align: left;
        }

        .invoice-box table td {
            padding: 5px;
            vertical-align: top;
        }

        .invoice-box table tr td:nth-child(2) {
            text-align: right;
        }

        .invoice-box table tr.top table td {
            padding-bottom: 20px;
        }

        .invoice-box table tr.top table td.title {
            font-size: 45px;
            line-height: 45px;
            color: #333;
        }

        .invoice-box table tr.information table td {
            padding-bottom: 40px;
        }

        .invoice-box table tr.heading td {
            background: #eee;
            border-bottom: 1px solid #ddd;
            font-weight: bold;
        }

        .invoice-box table tr.details td {
            padding-bottom: 20px;
        }

        .invoice-box table tr.item td {
            border-bottom: 1px solid #eee;
        }

        .invoice-box table tr.item.last td {
            border-bottom: none;
        }

        .invoice-box table tr.total td:nth-child(2) {
            border-top: 2px solid #eee;
            font-weight: bold;
        }

        @media only screen and (max-width: 600px) {
            .invoice-box table tr.top table td {
                width: 100%;
                display: block;
                text-align: center;
            }

            .invoice-box table tr.information table td {
                width: 100%;
                display: block;
                text-align: center;
            }
        }

        /** RTL **/
        .rtl {
            direction: rtl;
            font-family: Tahoma, 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;
        }

        .rtl table {
            text-align: right;
        }

        .rtl table tr td:nth-child(2) {
            text-align: left;
        }
    </style>
</head>

<body>
    <div class="invoice-box" style="max-width: 800px;margin: auto;padding: 30px;border: 1px solid #eee;box-shadow: 0 0 10px rgba(0, 0, 0, .15);font-size: 16px;line-height: 24px;font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;color: #555;">
        <table cellpadding="0" cellspacing="0" style="width: 100%;line-height: inherit;text-align: left;">
            <tr class="top">
                <td colspan="2" style="padding: 5px;vertical-align: top;">
                    <table style="width: 100%;line-height: inherit;text-align: left;">
                        <tr>
                            <td class="title" style="padding: 5px;vertical-align: top;padding-bottom: 20px;font-size: 45px;line-height: 45px;color: #333;">
                                <img src="https://behlaaktours.xyz/assets/img/logo.png" style="width:100%; max-width:150px;">
                            </td>

                            <td style="padding: 5px;vertical-align: top;text-align: right;padding-bottom: 20px;">
                                Reserva #: {{ order.id }}<br>
                                Fecha: {{ order.date_order_text }}<br>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>

            <tr class="information">
                <td colspan="2" style="padding: 5px;vertical-align: top;">
                    <table style="width: 100%;line-height: inherit;text-align: left;">
                        <tr>
                            <!-- <td style="padding: 5px;vertical-align: top;padding-bottom: 40px;">
                                Operador:<br>
                                {{ order.operator.name }}<br>
                                {{ order.operator.phone }}
                            </td> -->

                            <td style="padding: 5px;vertical-align: top;text-align: right;padding-bottom: 40px;">
                                Cliente:<br>
                                {{ order.name_client }}<br>
                                {{ order.email_client }}<br>
                                {{ order.phone_client }}
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>

            <tr class="heading">
                <td style="padding: 5px;vertical-align: top;background: #eee;border-bottom: 1px solid #ddd;font-weight: bold;">
                    Método de pago
                </td>

                <td style="padding: 5px;vertical-align: top;text-align: right;background: #eee;border-bottom: 1px solid #ddd;font-weight: bold;">
                    Tipo de pago
                </td>
            </tr>

            <tr class="details">
                <td style="padding: 5px;vertical-align: top;padding-bottom: 20px;">
                    {{ order.method_payment }}
                </td>

                <td style="padding: 5px;vertical-align: top;text-align: right;padding-bottom: 20px;">
                    {{ order.type_payment }}
                </td>
            </tr>

            <tr class="heading">
                <td style="padding: 5px;vertical-align: top;background: #eee;border-bottom: 1px solid #ddd;font-weight: bold;">
                    #
                </td>

                <td style="padding: 5px;vertical-align: top;background: #eee;border-bottom: 1px solid #ddd;font-weight: bold;text-align: right;">
                    Actividad
                </td>
            </tr>
            {% for activity in activities %}
            {% if forloop.counter == activities|length %}
            <tr class="item">
                {% else %}
            <tr class="item last">
                {% endif %}

                <td style="padding: 5px;vertical-align: top;border-bottom: 1px solid #eee;">
                    {{ forloop.counter }}
                </td>
                <td style="padding: 5px;vertical-align: top;border-bottom: 1px solid #eee;text-align: right">
                    {{ activity.activity.name }} - Adultos ({{ order.nro_adults }}) - Niños ({{ order.nro_childs }})
                </td>

            </tr>
            {% endfor %}

            <tr class="total">
                <td style="padding: 5px;vertical-align: top;"></td>

                <td style="padding: 5px;vertical-align: top;text-align: right;border-top: 2px solid #eee;font-weight: bold;">
                    Total: $ {{ order.total }}
                </td>
            </tr>
        </table>
    </div>
</body>

</html>