<style type="text/css">
    .button-success,
    .button-error,
    .button-warning,
    .button-secondary {
        color: white;
        border-radius: 4px;
        text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    }

    .button-success {
        background: rgb(28, 184, 65);
        /* this is a green */
    }

    .button-error {
        background: rgb(202, 60, 60);
        /* this is a maroon */
    }

    .button-warning {
        background: rgb(223, 117, 20);
        /* this is an orange */
    }

    .button-secondary {
        background: rgb(66, 184, 221);
        /* this is a light blue */
    }
</style>
<section class="card">
    <div id="invoice-template" class="card-body">
        <!-- Invoice Company Details -->
        <div id="invoice-company-details" class="row">
            <div class="col-md-6 col-sm-12 text-left text-md-left">
                <!--  <img src="assets/app-assets/images/logo/logo-80x80.png" alt="company logo" class="mb-2" width="70"> -->
                <ul class="px-0 list-unstyled">
                    <li class="text-bold-700">{{ order.operator.name}}</li>
                    <li>{{ order.operator.phone }}</li>
                    <li>{{ order.operator.address }}</li>
                    <li>{{ order.operator.website }}</li>
                </ul>

            </div>
            <div class="col-md-6 col-sm-12 text-center text-md-right">
                <h2>ORDEN</h2>
                <p># {{ order.id}}</p>
                <p>{{ order.date_order }}</p>
            </div>
        </div>
        <!--/ Invoice Company Details -->

        <!-- Invoice Customer Details -->
        <div id="invoice-customer-details" class="row pt-2">
            <div class="col-md-6 col-sm-12">
                <p class="text-muted">Actividades</p>
            </div>

        </div>
        <!--/ Invoice Customer Details -->

        <!-- Invoice Items Details -->
        <div id="invoice-items-details" class="pt-2">
            <div class="row">
                <div class="table-responsive col-sm-12">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Actividad / Servicio</th>
                                <th class="text-right">Adultos</th>
                                <th class="text-right">Niños</th>
                                <th class="text-right">PickUp</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for activity in activities%}
                            <tr>
                                <th scope="row">{{ forloop.counter}}</th>
                                <td>
                                    <p>{{ activity.activity.name}}</p>
                                    <!-- <p class="text-muted">Vestibulum euismod est eu elit convallis.</p> -->
                                </td>
                                <td class="text-right">$ {{ activity.price_rep_adult }}</td>
                                <td class="text-right">$ {{ activity.price_rep_child }}</td>
                                <td class="text-right">{{ activity.pick_up }}</td>
                                <td>

                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row">
                <div class="col-md-7 col-sm-12 text-center text-md-left">

                </div>
                <div class="col-md-5 col-sm-12">
                    <p class="lead">Total</p>
                    <div class="table-responsive">
                        <table class="table">
                            <tbody>
                                <tr>
                                    <td>Total Adultos ({{ order.nro_adults }})</td>
                                    <td class="text-right">$ {{ total_adults }}</td>
                                </tr>
                                <tr>
                                    <td>Total Niños ({{ order.nro_childs }})</td>
                                    <td class="text-right">$ {{ total_childs }}</td>
                                </tr>
                                <tr>
                                    <td class="text-bold-800">Total</td>
                                    <td class="text-bold-800 text-right"> $ {{ order.total }}</td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                    <div class="text-center">
                        <h6>{{ order.promotor.name }}</h6>
                        <p class="text-muted">Killer</p>
                    </div>
                </div>
            </div>
        </div>

        <!-- Invoice Footer -->
        <div id="invoice-footer">
            <div class="row">

                <div class="col-md-5 col-sm-12 text-center">
                    <a class="button-success pure-button" href="https://behlaaktours.xyz/#deals/deal/{{order.id}}/detail">
                        Ver Reserva</a>
                </div>
            </div>
        </div>
        <!--/ Invoice Footer -->

    </div>
</section>