<table class="m_-1073613314111111047bg-table" width="100%" border="0" cellspacing="0" cellpadding="0" style="border-spacing:0;height:100%;min-height:100%;background-color:#eff2f7"
    bgcolor="#eff2f7">
    <tbody>
        <tr>
            <td align="center" style="padding:0;vertical-align:top" valign="top">


                <table class="m_-1073613314111111047outer" align="center" width="100%" border="0" cellspacing="0"
                    cellpadding="0" style="border-spacing:0;width:100%;max-width:640px;padding:10px;Margin:0 auto">



                    <tbody>
                        <tr>
                            <td class="m_-1073613314111111047oneColumn" style="padding:10px">
                                <table width="100%" border="0" cellspacing="0" cellpadding="0" style="border-spacing:0">
                                    <tbody>
                                        <tr>
                                            <td class="m_-1073613314111111047oneColumn__contents" style="padding:0;text-align:center"
                                                align="center">
                                                <div>
                                                    <p class="m_-1073613314111111047headerCell" style="Margin:0;text-align:center;padding:15px">
                                                        <a href="http://localhost" style="color:#1fb6ff!important;text-decoration:underline!important"
                                                            target="_blank" data-saferedirecturl="https://www.google.com/url?q=http://qtv7.mjt.lu/lnk/APsAAAXdg_UAAAAAAAAAAAIKtlIAAAAF3dAAAAAAAAoZ9gBan1laNcGS2ZdkS5W6KhTwKXUbRwAJo8w/1/ubYhpEL9kuVp5MHBZv32dQ/aHR0cDovL3d3dy5tYXJ2ZWxhcHAuY29t&amp;source=gmail&amp;ust=1533151402269000&amp;usg=AFQjCNG2ZBig2SGKUIWRWw-GsRSCtqZlqg">
                                                            <img src="https://behlaaktours.xyz/assets/img/logo.png"
                                                                width="180" alt="behlaaktours" style="border:0" class="CToWUd">
                                                        </a>
                                                    </p>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>

                        <tr>
                            <td class="m_-1073613314111111047oneColumn m_-1073613314111111047oneColumn--block" style="padding:10px">
                                <table width="100%" border="0" cellspacing="0" cellpadding="0" style="border-spacing:0">
                                    <tbody>
                                        <tr>
                                            <td class="m_-1073613314111111047oneColumn__contents" style="text-align:center;padding:20px;background:#fff;border-radius:6px"
                                                align="center">
                                                <div style="padding:10px">




                                                    <p class="m_-1073613314111111047paragraph m_-1073613314111111047paragraph--l m_-1073613314111111047paragraph--centered"
                                                        style="Margin:0;font-family:'Helvetica Neue',Helvetica,Arial,'Lucida Grande',sans-serif;color:#8492a6;font-weight:300;font-size:18px;line-height:28px;text-align:center">
                                                        <font class="m_-1073613314111111047paragraph m_-1073613314111111047paragraph--l m_-1073613314111111047paragraph--centered"
                                                            style="font-family:'Helvetica Neue',Helvetica,Arial,'Lucida Grande',sans-serif;color:#8492a6;font-weight:300;font-size:18px;line-height:28px;text-align:center">
                                                            <span class="m_-1073613314111111047font-fakt" style="font-family:'FaktProSoft','Helvetica Neue',Helvetica,Arial,'Lucida Grande',sans-serif">
                                                                Su código de activación es : {{ code }}
                                                            </span>
                                                        </font>
                                                    </p>


                                                    <table class="m_-1073613314111111047spacer m_-1073613314111111047spacer--m"
                                                        width="100%" style="border-spacing:0;font-size:0;height:20px;line-height:20px">
                                                        <tbody>
                                                            <tr>
                                                                <td class="m_-1073613314111111047spacer m_-1073613314111111047spacer--m"
                                                                    style="padding:0;font-size:0;height:20px;line-height:20px">
                                                                    &nbsp;
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>



                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>


                        <tr>
                            <td class="m_-1073613314111111047oneColumn m_-1073613314111111047oneColumn--apps" style="padding:10px">
                                <table width="100%" border="0" cellspacing="0" cellpadding="0" style="border-spacing:0">
                                    <tbody>
                                        <tr>
                                            <td class="m_-1073613314111111047oneColumn__contents" style="text-align:center;padding:10px;background:#fff;border-radius:6px"
                                                align="center">
                                                <div>
                                                    <table width="100%" style="border-spacing:0">
                                                        <tbody>
                                                            <tr>
                                                                <td class="m_-1073613314111111047twoColumn" style="padding:0;text-align:center;font-size:0"
                                                                    align="center">



                                                                    <div class="m_-1073613314111111047twoColumn__column"
                                                                        style="width:100%;display:inline-block;vertical-align:middle;max-width:290px">
                                                                        <table width="100%" border="0" cellspacing="0"
                                                                            cellpadding="0" style="border-spacing:0">
                                                                            <tbody>
                                                                                <tr>
                                                                                    <td class="m_-1073613314111111047twoColumn__spacing"
                                                                                        style="padding:0">
                                                                                        <table class="m_-1073613314111111047twoColumn__contents"
                                                                                            border="0" cellspacing="0"
                                                                                            cellpadding="0" style="border-spacing:0;width:100%;text-align:center;max-width:290px"
                                                                                            width="100%" align="center">

                                                                                            <tbody>
                                                                                                <tr>
                                                                                                    <td class="m_-1073613314111111047twoColumn__text"
                                                                                                        style="text-align:left;background:#fff;border-radius:6px;padding:10px"
                                                                                                        align="left">

                                                                                                        <table width="100%"
                                                                                                            style="border-spacing:0">
                                                                                                            <tbody>
                                                                                                                <tr>
                                                                                                                    <td
                                                                                                                        align="left"
                                                                                                                        style="padding:0">
                                                                                                                        <table
                                                                                                                            class="m_-1073613314111111047button m_-1073613314111111047button--special m_-1073613314111111047button--blue"
                                                                                                                            style="border-spacing:0;width:100%;text-align:left"
                                                                                                                            width="100%"
                                                                                                                            align="left">
                                                                                                                            <tbody>
                                                                                                                                <tr>
                                                                                                                                    <td
                                                                                                                                        class="m_-1073613314111111047button__cell m_-1073613314111111047button__cell--blue"
                                                                                                                                        align="left"
                                                                                                                                        style="padding:0;border-radius:6px;color:#fff;background-color:#1fb6ff"
                                                                                                                                        bgcolor="#1fb6ff">
                                                                                                                                        <a
                                                                                                                                            class="m_-1073613314111111047button__link"
                                                                                                                                            href="http://qtv7.mjt.lu/lnk/APsAAAXdg_UAAAAAAAAAAAIKtlIAAAAF3dAAAAAAAAoZ9gBan1laNcGS2ZdkS5W6KhTwKXUbRwAJo8w/2/Xh9vFbB4XS7ix5oXjBTVKQ/aHR0cHM6Ly9pdHVuZXMuYXBwbGUuY29tL3VzL2FwcC9tYXJ2ZWwtYXBwL2lkNzY1ODAxNjU4P210PTg"
                                                                                                                                            style="font-family:'FaktProSoft','Helvetica Neue',Helvetica,Arial,'Lucida Grande',sans-serif;display:inline-block;border-width:1px;border-style:solid;border-radius:4px;font-weight:500;text-decoration:none;color:#fff;border-color:#1fb6ff"
                                                                                                                                            target="_blank"
                                                                                                                                            data-saferedirecturl="https://www.google.com/url?q=http://qtv7.mjt.lu/lnk/APsAAAXdg_UAAAAAAAAAAAIKtlIAAAAF3dAAAAAAAAoZ9gBan1laNcGS2ZdkS5W6KhTwKXUbRwAJo8w/2/Xh9vFbB4XS7ix5oXjBTVKQ/aHR0cHM6Ly9pdHVuZXMuYXBwbGUuY29tL3VzL2FwcC9tYXJ2ZWwtYXBwL2lkNzY1ODAxNjU4P210PTg&amp;source=gmail&amp;ust=1533151402269000&amp;usg=AFQjCNFgdxZPmJyzxxkUsNuGtMfZbWG1Rw">
                                                                                                                                            <table
                                                                                                                                                width="100%"
                                                                                                                                                style="border-spacing:0">
                                                                                                                                                <tbody>
                                                                                                                                                    <tr>
                                                                                                                                                        <td
                                                                                                                                                            style="padding:0">
                                                                                                                                                            <img
                                                                                                                                                                src="https://ci4.googleusercontent.com/proxy/_KFqZmy5znpch5x1gsa3_PqgODsFB3u3h8ckvLYAbuq4t-mgdR80ISbn2VxQihc1UHQMLuIwoMOQ_dyVFNb699S5eHM-5B0KrWt5NiaC0960JiRqov8bTlzPymtKSAKj5SSRO4wFvK78m0w1o8BJ_zVzLE0=s0-d-e1-ft#https://marvelapp-email-assets.s3-eu-west-1.amazonaws.com/img/blocks/apps/icon-appstore@1x.png"
                                                                                                                                                                alt=""
                                                                                                                                                                width="80"
                                                                                                                                                                height="80"
                                                                                                                                                                style="border:0"
                                                                                                                                                                class="CToWUd">
                                                                                                                                                        </td>

                                                                                                                                                        <td
                                                                                                                                                            style="padding:0">
                                                                                                                                                            <p
                                                                                                                                                                class="m_-1073613314111111047button__link__small"
                                                                                                                                                                style="Margin:0;font-family:'FaktProSoft','Helvetica Neue',Helvetica,Arial,'Lucida Grande',sans-serif;color:#fff;font-size:14px;line-height:18px;text-decoration:none">
                                                                                                                                                                <font
                                                                                                                                                                    class="m_-1073613314111111047button__link__small"
                                                                                                                                                                    style="font-family:'FaktProSoft','Helvetica Neue',Helvetica,Arial,'Lucida Grande',sans-serif;color:#fff;font-size:14px;line-height:18px;text-decoration:none">
                                                                                                                                                                    Disponible
                                                                                                                                                                    en
                                                                                                                                                                </font>
                                                                                                                                                            </p>

                                                                                                                                                            <p
                                                                                                                                                                class="m_-1073613314111111047button__link__big"
                                                                                                                                                                style="Margin:0;font-family:'FaktProSoft','Helvetica Neue',Helvetica,Arial,'Lucida Grande',sans-serif;color:#fff;font-size:28px;line-height:34px;text-decoration:none">
                                                                                                                                                                <font
                                                                                                                                                                    class="m_-1073613314111111047button__link__big"
                                                                                                                                                                    style="font-family:'FaktProSoft','Helvetica Neue',Helvetica,Arial,'Lucida Grande',sans-serif;color:#fff;font-size:28px;line-height:34px;text-decoration:none">
                                                                                                                                                                    App
                                                                                                                                                                    Store
                                                                                                                                                                </font>
                                                                                                                                                            </p>
                                                                                                                                                        </td>
                                                                                                                                                    </tr>
                                                                                                                                                </tbody>
                                                                                                                                            </table>
                                                                                                                                        </a>
                                                                                                                                    </td>
                                                                                                                                </tr>
                                                                                                                            </tbody>
                                                                                                                        </table>
                                                                                                                    </td>
                                                                                                                </tr>
                                                                                                            </tbody>
                                                                                                        </table>
                                                                                                    </td>
                                                                                                </tr>
                                                                                            </tbody>
                                                                                        </table>
                                                                                    </td>
                                                                                </tr>
                                                                            </tbody>
                                                                        </table>
                                                                    </div>





                                                                    <div class="m_-1073613314111111047twoColumn__column"
                                                                        style="width:100%;display:inline-block;vertical-align:middle;max-width:290px">
                                                                        <table width="100%" border="0" cellspacing="0"
                                                                            cellpadding="0" style="border-spacing:0">
                                                                            <tbody>
                                                                                <tr>
                                                                                    <td class="m_-1073613314111111047twoColumn__spacing"
                                                                                        style="padding:0">
                                                                                        <table class="m_-1073613314111111047twoColumn__contents"
                                                                                            border="0" cellspacing="0"
                                                                                            cellpadding="0" style="border-spacing:0;width:100%;text-align:center;max-width:290px"
                                                                                            width="100%" align="center">

                                                                                            <tbody>
                                                                                                <tr>
                                                                                                    <td class="m_-1073613314111111047twoColumn__text"
                                                                                                        style="text-align:left;background:#fff;border-radius:6px;padding:10px"
                                                                                                        align="left">

                                                                                                        <table width="100%"
                                                                                                            style="border-spacing:0">
                                                                                                            <tbody>
                                                                                                                <tr>
                                                                                                                    <td
                                                                                                                        align="left"
                                                                                                                        style="padding:0">
                                                                                                                        <table
                                                                                                                            class="m_-1073613314111111047button m_-1073613314111111047button--special m_-1073613314111111047button--purple"
                                                                                                                            style="border-spacing:0;width:100%;text-align:left"
                                                                                                                            width="100%"
                                                                                                                            align="left">
                                                                                                                            <tbody>
                                                                                                                                <tr>
                                                                                                                                    <td
                                                                                                                                        class="m_-1073613314111111047button__cell m_-1073613314111111047button__cell--purple"
                                                                                                                                        align="left"
                                                                                                                                        style="padding:0;border-radius:6px;color:#fff;background-color:#7e5bef"
                                                                                                                                        bgcolor="#7e5bef">
                                                                                                                                        <a
                                                                                                                                            class="m_-1073613314111111047button__link"
                                                                                                                                            href="http://qtv7.mjt.lu/lnk/APsAAAXdg_UAAAAAAAAAAAIKtlIAAAAF3dAAAAAAAAoZ9gBan1laNcGS2ZdkS5W6KhTwKXUbRwAJo8w/3/_alr1CX0wIN54Ab3pBtiOQ/aHR0cHM6Ly9wbGF5Lmdvb2dsZS5jb20vc3RvcmUvYXBwcy9kZXRhaWxzP2lkPWNvbS5tYXJ2ZWxhcHA"
                                                                                                                                            style="font-family:'FaktProSoft','Helvetica Neue',Helvetica,Arial,'Lucida Grande',sans-serif;display:inline-block;border-width:1px;border-style:solid;border-radius:4px;font-weight:500;text-decoration:none;color:#fff;border-color:#7e5bef"
                                                                                                                                            target="_blank"
                                                                                                                                            data-saferedirecturl="https://www.google.com/url?q=http://qtv7.mjt.lu/lnk/APsAAAXdg_UAAAAAAAAAAAIKtlIAAAAF3dAAAAAAAAoZ9gBan1laNcGS2ZdkS5W6KhTwKXUbRwAJo8w/3/_alr1CX0wIN54Ab3pBtiOQ/aHR0cHM6Ly9wbGF5Lmdvb2dsZS5jb20vc3RvcmUvYXBwcy9kZXRhaWxzP2lkPWNvbS5tYXJ2ZWxhcHA&amp;source=gmail&amp;ust=1533151402270000&amp;usg=AFQjCNGj7pQKi4Gow32-QgqfnHBYFF_BqA">
                                                                                                                                            <table
                                                                                                                                                width="100%"
                                                                                                                                                style="border-spacing:0">
                                                                                                                                                <tbody>
                                                                                                                                                    <tr>
                                                                                                                                                        <td
                                                                                                                                                            style="padding:0">
                                                                                                                                                            <img
                                                                                                                                                                src="https://ci3.googleusercontent.com/proxy/jUAyb1YVYMuBebCIuMtpqHzxV_LxOpNCuf5C5KyP2ASABqRwa4r8CJaBl7yIMlUJf-ZjSPajnyJF8UV-LNJxoLG2f-xNYg6nH_3_fSe6850UotMm3KOOCXd1wMSWg3xlSyZF7xwV66RurWS9wsGDzwebiwSR=s0-d-e1-ft#https://marvelapp-email-assets.s3-eu-west-1.amazonaws.com/img/blocks/apps/icon-playstore@1x.png"
                                                                                                                                                                alt=""
                                                                                                                                                                width="80"
                                                                                                                                                                height="80"
                                                                                                                                                                style="border:0"
                                                                                                                                                                class="CToWUd">
                                                                                                                                                        </td>

                                                                                                                                                        <td
                                                                                                                                                            style="padding:0">
                                                                                                                                                            <p
                                                                                                                                                                class="m_-1073613314111111047button__link__small"
                                                                                                                                                                style="Margin:0;font-family:'FaktProSoft','Helvetica Neue',Helvetica,Arial,'Lucida Grande',sans-serif;color:#fff;font-size:14px;line-height:18px;text-decoration:none">
                                                                                                                                                                <font
                                                                                                                                                                    class="m_-1073613314111111047button__link__small"
                                                                                                                                                                    style="font-family:'FaktProSoft','Helvetica Neue',Helvetica,Arial,'Lucida Grande',sans-serif;color:#fff;font-size:14px;line-height:18px;text-decoration:none">
                                                                                                                                                                    Disponible
                                                                                                                                                                    en
                                                                                                                                                                </font>
                                                                                                                                                            </p>

                                                                                                                                                            <p
                                                                                                                                                                class="m_-1073613314111111047button__link__big"
                                                                                                                                                                style="Margin:0;font-family:'FaktProSoft','Helvetica Neue',Helvetica,Arial,'Lucida Grande',sans-serif;color:#fff;font-size:28px;line-height:34px;text-decoration:none">
                                                                                                                                                                <font
                                                                                                                                                                    class="m_-1073613314111111047button__link__big"
                                                                                                                                                                    style="font-family:'FaktProSoft','Helvetica Neue',Helvetica,Arial,'Lucida Grande',sans-serif;color:#fff;font-size:28px;line-height:34px;text-decoration:none">
                                                                                                                                                                    Play
                                                                                                                                                                    Store
                                                                                                                                                                </font>
                                                                                                                                                            </p>
                                                                                                                                                        </td>
                                                                                                                                                    </tr>
                                                                                                                                                </tbody>
                                                                                                                                            </table>
                                                                                                                                        </a>
                                                                                                                                    </td>
                                                                                                                                </tr>
                                                                                                                            </tbody>
                                                                                                                        </table>
                                                                                                                    </td>
                                                                                                                </tr>
                                                                                                            </tbody>
                                                                                                        </table>
                                                                                                    </td>
                                                                                                </tr>
                                                                                            </tbody>
                                                                                        </table>
                                                                                    </td>
                                                                                </tr>
                                                                            </tbody>
                                                                        </table>
                                                                    </div>



                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>




                    </tbody>
                </table>


            </td>
        </tr>
    </tbody>
</table>